$white-color: #fff;
$height100: 100%;

.terms {
    margin-top: 285px;
}

.register{
    margin-top: 50px;
}

a:link {
    text-decoration: none;
  }

ion-grid {
    width:100%;
    height: $height100;
    background: #dfdfdf;
}

ion-row {
    height: $height100;
}

ion-col {
    border: 1px solid #488aff;
    background: $white-color;
}

ion-button {
    font-weight: 300;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: $white-color;
    }
    ion-col {
        border: none;
    }
}

.forgotpass{
    display: flex; 
    align-items: center; 
    height: 100%; 
    justify-content: center;
}