<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" class="background" no-scroll>
  <form #register="ngForm" (ngSubmit)="onSubmit(register)">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h1><b>Register</b></h1>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input name="name" ngModel type="text" required></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input name="email" ngModel type="email" required email></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Mobile</ion-label>
              <ion-input name="mobileNo" ngModel type="tel" required minlength="10" maxlength="10" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Set Password</ion-label>
              <ion-input name="password" ngModel type="password" minlength="6" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input name="confirmPass" ngModel type="password" minlength="6" required></ion-input>
            </ion-item>
          </div>
    
          <div class="ion-padding">
            <ion-button type="submit" size="large"  color="dark" expand="block" [disabled]="register.invalid">Register</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>




